USE [master]
GO
/****** Object:  Database [UniversityManagementDb]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE DATABASE [UniversityManagementDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityManagementDb', FILENAME = N'C:\Program Files (x64)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UniversityManagementDb.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityManagementDb_log', FILENAME = N'C:\Program Files (x64)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UniversityManagementDb_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityManagementDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityManagementDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AllocateClassrooms]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllocateClassrooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomNoId] [int] NOT NULL,
	[DayNameId] [int] NOT NULL,
	[StartTime] [float] NOT NULL,
	[EndTime] [float] NOT NULL,
	[RoomStatus] [nvarchar](max) NULL,
	[StartTime1] [time](7) NOT NULL,
	[EndTime1] [time](7) NOT NULL,
 CONSTRAINT [PK_dbo.AllocateClassrooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssignToTeachers]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignToTeachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreditToBeTaken] [float] NOT NULL,
	[RemainingCredit] [float] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Credit] [nvarchar](max) NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AssignToTeachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Credit] [float] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[CourseStatus] [bit] NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DayNames]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.DayNames] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](7) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnrollCourses]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnrollCourses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegisterStudentId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EnrollCourses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GradeLetters]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeLetters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.GradeLetters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegisterStudents]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterStudents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[RegNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RegisterStudents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomNoes]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomNoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.RoomNoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Semesters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentResults]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegisterStudentId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Department] [nvarchar](max) NULL,
	[CourseId] [int] NOT NULL,
	[GradeLetterId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudentResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 3/12/2018 5:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreditToBeTaken] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AllocateClassrooms] ON 

INSERT [dbo].[AllocateClassrooms] ([Id], [DepartmentId], [CourseId], [RoomNoId], [DayNameId], [StartTime], [EndTime], [RoomStatus], [StartTime1], [EndTime1]) VALUES (34, 25, 42, 1, 1, 600, 690, N'Allocated', CAST(0x070010ACD1530000 AS Time), CAST(0x0700AC5264600000 AS Time))
INSERT [dbo].[AllocateClassrooms] ([Id], [DepartmentId], [CourseId], [RoomNoId], [DayNameId], [StartTime], [EndTime], [RoomStatus], [StartTime1], [EndTime1]) VALUES (35, 25, 42, 1, 2, 600, 690, N'Allocated', CAST(0x070010ACD1530000 AS Time), CAST(0x0700AC5264600000 AS Time))
INSERT [dbo].[AllocateClassrooms] ([Id], [DepartmentId], [CourseId], [RoomNoId], [DayNameId], [StartTime], [EndTime], [RoomStatus], [StartTime1], [EndTime1]) VALUES (36, 25, 42, 1, 3, 600, 690, N'Allocated', CAST(0x070010ACD1530000 AS Time), CAST(0x0700AC5264600000 AS Time))
SET IDENTITY_INSERT [dbo].[AllocateClassrooms] OFF
SET IDENTITY_INSERT [dbo].[AssignToTeachers] ON 

INSERT [dbo].[AssignToTeachers] ([Id], [DepartmentId], [CreditToBeTaken], [RemainingCredit], [CourseId], [Name], [Credit], [TeacherId]) VALUES (50, 25, 30, 27, 42, N'English Poem', N'3', 29)
INSERT [dbo].[AssignToTeachers] ([Id], [DepartmentId], [CreditToBeTaken], [RemainingCredit], [CourseId], [Name], [Credit], [TeacherId]) VALUES (51, 25, 15, 12, 43, N'English Language', N'3', 30)
INSERT [dbo].[AssignToTeachers] ([Id], [DepartmentId], [CreditToBeTaken], [RemainingCredit], [CourseId], [Name], [Credit], [TeacherId]) VALUES (52, 24, 30, 27, 38, N'Computer Fundamentel', N'3', 25)
SET IDENTITY_INSERT [dbo].[AssignToTeachers] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId], [CourseStatus], [TeacherId]) VALUES (38, N'CSE-101', N'Computer Fundamentel', 3, N'Major', 24, 1, 1, 25)
INSERT [dbo].[Courses] ([Id], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId], [CourseStatus], [TeacherId]) VALUES (39, N'CSE-102', N'Data Structhur', 3, N'Major', 24, 1, 1, 26)
INSERT [dbo].[Courses] ([Id], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId], [CourseStatus], [TeacherId]) VALUES (40, N'ETE-301', N'Networking Essential', 3, N'Major', 23, 1, 1, 27)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[DayNames] ON 

INSERT [dbo].[DayNames] ([Id], [Name]) VALUES (1, N'Sun')
INSERT [dbo].[DayNames] ([Id], [Name]) VALUES (2, N'Mon')
INSERT [dbo].[DayNames] ([Id], [Name]) VALUES (3, N'Tue')
SET IDENTITY_INSERT [dbo].[DayNames] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Code], [Name]) VALUES (23, N'ETE', N'Electronic And Telecom')
INSERT [dbo].[Departments] ([Id], [Code], [Name]) VALUES (24, N'CSE', N'Computer Science')
INSERT [dbo].[Departments] ([Id], [Code], [Name]) VALUES (25, N'Eng', N'English')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([Id], [Name]) VALUES (1, N'Professor')
INSERT [dbo].[Designations] ([Id], [Name]) VALUES (2, N'Assistant Professor')
INSERT [dbo].[Designations] ([Id], [Name]) VALUES (3, N'Lab Assistant')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[EnrollCourses] ON 

INSERT [dbo].[EnrollCourses] ([Id], [RegisterStudentId], [Name], [Email], [Department], [CourseId], [Date]) VALUES (6, 9, N'Nora Alam Jiku', N'nora.alam08@gmail.com', N'Electronic And Telecom', 40, CAST(0x0000A8A100000000 AS DateTime))
INSERT [dbo].[EnrollCourses] ([Id], [RegisterStudentId], [Name], [Email], [Department], [CourseId], [Date]) VALUES (7, 9, N'Nora Alam Jiku', N'nora.alam08@gmail.com', N'Electronic And Telecom', 41, CAST(0x0000A8A100000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[EnrollCourses] OFF
SET IDENTITY_INSERT [dbo].[GradeLetters] ON 

INSERT [dbo].[GradeLetters] ([Id], [Grade]) VALUES (1, N'A')
INSERT [dbo].[GradeLetters] ([Id], [Grade]) VALUES (2, N'A+')
INSERT [dbo].[GradeLetters] ([Id], [Grade]) VALUES (3, N'A-')
SET IDENTITY_INSERT [dbo].[GradeLetters] OFF
SET IDENTITY_INSERT [dbo].[RegisterStudents] ON 

INSERT [dbo].[RegisterStudents] ([Id], [Name], [Email], [ContactNo], [DueDate], [Address], [DepartmentId], [RegNo]) VALUES (9, N'Nora Alam Jiku', N'nora.alam08@gmail.com', N'01916519260', CAST(0x0000A8A100000000 AS DateTime), N'Dhaka', 23, N'ETE-2018-001')
INSERT [dbo].[RegisterStudents] ([Id], [Name], [Email], [ContactNo], [DueDate], [Address], [DepartmentId], [RegNo]) VALUES (10, N'Nazmul Alam', N'nora.alam88@gmail.com', N'01916519260', CAST(0x0000A8A100000000 AS DateTime), N'Dhaka', 23, N'ETE-2018-002')
SET IDENTITY_INSERT [dbo].[RegisterStudents] OFF
SET IDENTITY_INSERT [dbo].[RoomNoes] ON 

INSERT [dbo].[RoomNoes] ([Id], [RoomNumber]) VALUES (1, N'RM-101 ')
INSERT [dbo].[RoomNoes] ([Id], [RoomNumber]) VALUES (2, N'RM-102 ')
INSERT [dbo].[RoomNoes] ([Id], [RoomNumber]) VALUES (3, N'RM-201 ')
SET IDENTITY_INSERT [dbo].[RoomNoes] OFF
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([Id], [Name]) VALUES (1, N'1st Semester')
INSERT [dbo].[Semesters] ([Id], [Name]) VALUES (2, N'2nd Semester')
INSERT [dbo].[Semesters] ([Id], [Name]) VALUES (3, N'3rd Semester')
SET IDENTITY_INSERT [dbo].[Semesters] OFF
SET IDENTITY_INSERT [dbo].[StudentResults] ON 

INSERT [dbo].[StudentResults] ([Id], [RegisterStudentId], [Name], [Email], [DepartmentId], [Department], [CourseId], [GradeLetterId]) VALUES (7, 9, N'Nora Alam Jiku', N'nora.alam08@gmail.com', 0, NULL, 40, 2)
INSERT [dbo].[StudentResults] ([Id], [RegisterStudentId], [Name], [Email], [DepartmentId], [Department], [CourseId], [GradeLetterId]) VALUES (8, 9, N'Nora Alam Jiku', N'nora.alam08@gmail.com', 0, NULL, 41, 1)
SET IDENTITY_INSERT [dbo].[StudentResults] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [Name], [Address], [Email], [ContactNo], [DesignationId], [DepartmentId], [CreditToBeTaken]) VALUES (25, N'Md. Tiemoon', N'Dhaka', N'tiemoon@gmail.com', N'01916519260', 1, 24, 30)
INSERT [dbo].[Teachers] ([Id], [Name], [Address], [Email], [ContactNo], [DesignationId], [DepartmentId], [CreditToBeTaken]) VALUES (26, N'Md. Masud', N'Dhaka', N'masud@gmail.com', N'01916519260', 2, 24, 20)
INSERT [dbo].[Teachers] ([Id], [Name], [Address], [Email], [ContactNo], [DesignationId], [DepartmentId], [CreditToBeTaken]) VALUES (27, N'Nora Alam', N'Dhaka', N'nora.alam07@gmail.com', N'01916519260', 1, 23, 30)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
/****** Object:  Index [IX_CourseId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[AllocateClassrooms]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayNameId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DayNameId] ON [dbo].[AllocateClassrooms]
(
	[DayNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[AllocateClassrooms]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomNoId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoomNoId] ON [dbo].[AllocateClassrooms]
(
	[RoomNoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[AssignToTeachers]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[AssignToTeachers]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[AssignToTeachers]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ic_Code]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ic_Code] ON [dbo].[Courses]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Courses]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ix_Name]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ix_Name] ON [dbo].[Courses]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemesterId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_SemesterId] ON [dbo].[Courses]
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ix_Code]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ix_Code] ON [dbo].[Departments]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ix_Name]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ix_Name] ON [dbo].[Departments]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[EnrollCourses]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegisterStudentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegisterStudentId] ON [dbo].[EnrollCourses]
(
	[RegisterStudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[RegisterStudents]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ix_Email]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ix_Email] ON [dbo].[RegisterStudents]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ix_Name]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ix_Name] ON [dbo].[Semesters]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[StudentResults]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GradeLetterId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_GradeLetterId] ON [dbo].[StudentResults]
(
	[GradeLetterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegisterStudentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegisterStudentId] ON [dbo].[StudentResults]
(
	[RegisterStudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Teachers]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignationId]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DesignationId] ON [dbo].[Teachers]
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ix_Email]    Script Date: 3/12/2018 5:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Ix_Email] ON [dbo].[Teachers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllocateClassrooms] ADD  DEFAULT ('00:00:00') FOR [StartTime1]
GO
ALTER TABLE [dbo].[AllocateClassrooms] ADD  DEFAULT ('00:00:00') FOR [EndTime1]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [TeacherId]
GO
ALTER TABLE [dbo].[AllocateClassrooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassrooms] CHECK CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[AllocateClassrooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.DayNames_DayNameId] FOREIGN KEY([DayNameId])
REFERENCES [dbo].[DayNames] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassrooms] CHECK CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.DayNames_DayNameId]
GO
ALTER TABLE [dbo].[AllocateClassrooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassrooms] CHECK CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[AllocateClassrooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.RoomNoes_RoomNoId] FOREIGN KEY([RoomNoId])
REFERENCES [dbo].[RoomNoes] ([Id])
GO
ALTER TABLE [dbo].[AllocateClassrooms] CHECK CONSTRAINT [FK_dbo.AllocateClassrooms_dbo.RoomNoes_RoomNoId]
GO
ALTER TABLE [dbo].[AssignToTeachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignToTeachers_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[AssignToTeachers] CHECK CONSTRAINT [FK_dbo.AssignToTeachers_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[AssignToTeachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignToTeachers_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[AssignToTeachers] CHECK CONSTRAINT [FK_dbo.AssignToTeachers_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[AssignToTeachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignToTeachers_dbo.Teachers_Teacher_Id] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[AssignToTeachers] CHECK CONSTRAINT [FK_dbo.AssignToTeachers_dbo.Teachers_Teacher_Id]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Semesters_SemesterId] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Semesters_SemesterId]
GO
ALTER TABLE [dbo].[EnrollCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnrollCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[EnrollCourses] CHECK CONSTRAINT [FK_dbo.EnrollCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[EnrollCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnrollCourses_dbo.RegisterStudents_RegisterStudentId] FOREIGN KEY([RegisterStudentId])
REFERENCES [dbo].[RegisterStudents] ([Id])
GO
ALTER TABLE [dbo].[EnrollCourses] CHECK CONSTRAINT [FK_dbo.EnrollCourses_dbo.RegisterStudents_RegisterStudentId]
GO
ALTER TABLE [dbo].[RegisterStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RegisterStudents_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[RegisterStudents] CHECK CONSTRAINT [FK_dbo.RegisterStudents_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentResults_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_dbo.StudentResults_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentResults_dbo.GradeLetters_GradeLetterId] FOREIGN KEY([GradeLetterId])
REFERENCES [dbo].[GradeLetters] ([Id])
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_dbo.StudentResults_dbo.GradeLetters_GradeLetterId]
GO
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentResults_dbo.RegisterStudents_RegisterStudentId] FOREIGN KEY([RegisterStudentId])
REFERENCES [dbo].[RegisterStudents] ([Id])
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_dbo.StudentResults_dbo.RegisterStudents_RegisterStudentId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Designations_DesignationId]
GO
USE [master]
GO
